# .env.docker.example
VITE_KEYCLOAK_URL=https://keycloak.our-galaxy.space
VITE_KEYCLOAK_REALM=general_realm
VITE_KEYCLOAK_CLIENT_ID=admin-panel
VITE_AUTH_API_URL=https://api.our-galaxy.space/auth-service
VITE_API_BASE_URL=https://api.our-galaxy.space/stargazer-service
VITE_APP_NAME=AstroAdmin
APP_PORT=5173